body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.ms-container {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.ms-item {
  width: 100vw;
  height: 103vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  scroll-snap-align: start;
}

.section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title-section {
  background: #FFF5EE;
  color: #1e293b;
  font-size: 3rem;
}

.about-section {
  background: lightgray;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.about-text {
  max-width: 50%;
}

.about-photo {
  width: 200px;
  border-radius: 10px;
}

.projects-section,
.skills-section,
.contacts-section,
.write-me-section {
  background: #f4f4f4;
}

.projects-grid,
.skills-grid,
.contacts-grid {
  display: flex;
  gap: 20px;
}

.project-card,
.skill-card,
.contact-card {
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-form input,
.contact-form textarea {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
}

.contact-form button {
  padding: 10px 20px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}
