body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.ms-container {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.ms-item {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  scroll-snap-align: start;
}

.section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title-section {
  font-size: 3rem;
  text-align: center;
  vertical-align: center;
}

.title-section,
.projects-section,
.contacts-section {
  background: #FFF5EE;
  color: #1e293b;
}

.about-section,
.skills-section,
.write-me-section {
  background: #FFFAFA;
  color: #1e293b;
}

.sections-title {
  font-size: 80px;
  text-align: center;
  vertical-align: top;
  white-space: nowrap;
}

.about-section {
  gap: 0;
}

.about-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.about-text {
  border: 2px solid black;
  padding: 10px;
  max-width: 35%;
  height: fit-content;
}

.about-photo {
  max-width: 30%;
  height: auto;
  clip-path: ellipse(50% 50% at 50% 50%);
}

.projects-grid,
.skills-grid,
.contacts-grid {
  display: flex;
  gap: 20px;
}

.project-card,
.skill-card,
.contact-card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-form input,
.contact-form textarea {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
}

.contact-form button {
  padding: 10px 20px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}
